@charset "UTF-8";

/* Variável */
:root {
    --fundoCor: #131200;
    --borde: none;
}

/* Tudo */
* {
    margin: 0;
    padding: 0;
    color: #F5FBEF;
    border: none;
    border-radius: 4px;
    font-size: clamp(0.8rem, 8vw, 1.2rem);
}

/* Corpo */
body {
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* clamp(MIN, VAL, MAX) */
    background-color: var(--fundoCor);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

/* Bloco */
body main#principal {
    width: 400px;
    max-width: 30vw;
    background-color: #20A4F3;
    box-shadow: 5px 5px 15px #004E89;
    padding: 1rem;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

body main#principal h1,
div#digitar input {
    margin-bottom: 15px;
}

body main#principal div#digitar input {
    max-width: 25vw;
    font-size: clamp(1rem, 10vw, 1.6rem) !important;
    border: var(--borde);
    color: var(--fundoCor) !important;
    padding-left: 12px;
}

body main#principal div#opcoes {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5rem;
}

body main#principal div#opcoes button {
    background-color: var(--fundoCor);
    padding: 10px;
    border: var(--borde);
    width: 20vw;
}