@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131200;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
    font-size: 1.2em;
    background-color: #131200;
    color: white;
    transition: all ease-in-out .3s;
}

button:hover {
    background-color: #000000;
    color: rgb(219, 219, 219);
    transform: scale(1.1);
}

input {
    width: 50%;
    padding: 2rem;
    text-align: center;
    transition: all ease-in-out .3s;
}

input:focus, input:not(:placeholder-shown) {
    width: 100%;
}

input, button {
    border: none;
    padding: .5em;
    border-radius: .5em;
}

#principal {
    display: flex;
    background-color: rgb(12, 72, 236);
    box-shadow: 1em 1em 2em rgba(3, 19, 63, 0.781);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border-radius: .5em;
    gap: .5em;
    box-sizing: border-box;
}

#principal h1 {
    color: white;
}

#opcoes {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 100%;
}


